# Name: base-config.yml
# Author: Thomas "maaseh" Bonnet
# Version: v0.1 KISS version

# Description:
# This bootstrap modifies key component:
# do not forget to edit the configuration to suits your own configuration
# example: ansible-playbook playbooks/base-config.yml -i inventory/inventory.yml --ask-pass


- name: basic server configuration
  hosts: staging_vm_af
  tasks:
# User creation
  - name: Ansible user creation
    ansible.builtin.user:
      name: ansible
      comment: "Ansible automation user"
      system: yes
      shell: /bin/bash
      uid: 900
      create_home: yes

  - name: Add sudo file for Ansible user
    ansible.builtin.copy:
      dest: "/etc/sudoers.d/ansible"
      content: "ansible ALL=(ALL) NOPASSWD:ALL"
      owner: root
      group: root
      mode: "0440"
      validate: "/usr/sbin/visudo --check --file=%s"

#SSH Configuration

  - name: copy ssh bastion's pub-key to destination
    ansible.posix.authorized_key:
      user: your_user
      state: present
      key: "{{ lookup('file', '../files/ssh_keys/user-key.pub') }}"

  - name: copy ssh Ansible's pub-key to destination
    ansible.posix.authorized_key:
      user: ansible
      state: present
      key: "{{ lookup('file', '../files/ssh_keys/ansible-key.pub') }}"

  - name: disable password authentication with ssh
    ansible.builtin.copy:
      dest: "/etc/ssh/sshd_config.d/10-disable-password-auth.conf"
      content: "PasswordAuthentication no"
      owner: root
      group: root
      mode: 0644

  - name: reload SSH service
    ansible.builtin.systemd:
      name: sshd
      state: reloaded

  - name: Install chrony
    ansible.builtin.package:
      name: chrony
      state: present

  - name: Configure Chrony with local NTP
    ansible.builtin.lineinfile:
      path: "{{ lookup('first_found', params) }}"
      regexp: '^(pool|server) '
      line: "server x.x.10.30 iburst prefer"
    vars:
      params:
        files:
          - /etc/chrony/chrony.conf
          - /etc/chrony.conf
