# ==============================================================
# Version: v0.2
#
# Author: Thomas "Maaseh" Bonnet
#
# Description:
# Global Ansible configuration for the homelab.
# Defines default paths, connection settings, and output preferences.
# ==============================================================

[defaults]
inventory           = inventory/production
roles_path          = roles
collections_path    = collections

remote_user         = ansible
private_key_file    = /home/ansible/.ssh/ansible-key
vault_password_file = /home/ansible/.vault_pass

host_key_checking   = False
retry_files_enabled = False
stdout_callback     = ansible.builtin.default
result_format       = yaml
interpreter_python  = auto_silent

[privilege_escalation]
become              = true
become_method       = sudo
become_user         = root

[ssh_connection]
pipelining          = true
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s
